

h1 {font-family:;
font-size: ;
text-transform: uppercase;
color:hsl(0, 0%, 95%) }

p{font-size: ;
font-family: ;
color:hsla(0, 0%, 100%, 0.75) }

button{font-family: ;}

.container{background-color: ;
width: ;
height: ;
padding: ;
margin: ;}

button{background-color:hsl(0, 0%, 95%) ;
border-radius: ;
border: 0;
color: ;
padding: ;
font-size: ;
text-transform: capitalize;}





#SEDANS{
    background-color: hsl(31, 77%, 52%);

}
#SUVS{
    background-color: hsl(184, 100%, 22%);
   

} 
#LUXURY{
    background-color: hsl(179, 100%, 13%);

}

div{
    text-align: center;
    width: calc(130%/4);
font-size: 25px;
float: left;
}

    .SUVS {
    font-size: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
}

    .SEDANS {
        font-size: 40px;
        color: white;
        font-family: 'Lato', sans-serif;

    }

    .LUXURY {
        font-size: 40px;
        color: white;
        font-family: 'Lato', sans-serif;}

        h2 {
            font-size: 60px;
            color: white;
        }

        #Button1 {
            font-size: 20px;
            color: orangered;
            border: 1px solid orangered;
            border-radius: 50%;
 }
 #Button2 {font-size: 20px;
    color: seagreen;
    border: 1px solid seagreen;
    border-radius: 50%;

 }
 #Button3 {font-size: 20px;
    color: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 50%;

 }


@media (max-width: 450px) 
{.container: }


